body {
  background: black;
  margin: 0;
  font-family: sans-serif;
  color: white;
  font-size: 2em;
  text-align: center;
}
#subtitle {
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
}

